In [15]:
import pandas as pd

Student_data={
    'Std_id': ['St11','St12','St13','St14','St15','St16','St17','St18','S19','St20'],
    'name':['Rama', 'Krishna', 'Balarama', 'Hanuma', 'Jaya', 'Sita', 'Radha', 'Rukmini', 'Lakshmi', 'Bharatha'],
    'sem':[1,1,2,2,3,3,3,2,1,1],
    'age': [19, 20, 21, 18, 20, 22, 19, 17, 19, 22],
    'CGPA': [7.5, 8.9, 9.9, 9.5, 8.3, 8.5, 8.3, 8.1, 9.2, 9.5],
    'Dept_id': ['D1', 'D1', 'D2', 'D2', 'D3', 'D4', 'D4', 'D4', 'D1', 'D2']
}

Student_df= pd.DataFrame(Student_data)


Dept_data = {
    'Dept_id': ['D1', 'D2', 'D4', 'D5', 'D6'],
    'Dname': ['CSE', 'Mech', 'AI and ML', 'ECE', 'Civil'],
    'Dloc': ['Bangalore', 'Goa', 'Delhi', 'Bangalore', 'Mathura'],
    'D_Hod': ['Indra', 'Chadra', 'Surya', 'Mourya', 'Harsha']
}

Dept_df = pd.DataFrame(Dept_data)

print("Student Table")
print(Student_df)
print("Dept Table")
print(Dept_df)

Student Table
  Std_id      name  sem  age  CGPA Dept_id
0   St11      Rama    1   19   7.5      D1
1   St12   Krishna    1   20   8.9      D1
2   St13  Balarama    2   21   9.9      D2
3   St14    Hanuma    2   18   9.5      D2
4   St15      Jaya    3   20   8.3      D3
5   St16      Sita    3   22   8.5      D4
6   St17     Radha    3   19   8.3      D4
7   St18   Rukmini    2   17   8.1      D4
8    S19   Lakshmi    1   19   9.2      D1
9   St20  Bharatha    1   22   9.5      D2
Dept Table
  Dept_id      Dname       Dloc   D_Hod
0      D1        CSE  Bangalore   Indra
1      D2       Mech        Goa  Chadra
2      D4  AI and ML      Delhi   Surya
3      D5        ECE  Bangalore  Mourya
4      D6      Civil    Mathura  Harsha

In [16]:
innerjoin_df=Student_df.join(dept_df.set_index('Dept_id'), on='Dept_id', how='inner')

outerjoin_df=Student_df.join(dept_df.set_index('Dept_id'), on='Dept_id', how='outer')

print("Result of Inner join:")
print(innerjoin_df)

print("\nResult of Outer join:")
print(outer_join_df)

Result of Inner join:
  Std_id      name  sem  age  CGPA Dept_id      Dname       Dloc   D_Hod
0   St11      Rama    1   19   7.5      D1        CSE  Bangalore   Indra
1   St12   Krishna    1   20   8.9      D1        CSE  Bangalore   Indra
8    S19   Lakshmi    1   19   9.2      D1        CSE  Bangalore   Indra
2   St13  Balarama    2   21   9.9      D2       Mech        Goa  Chadra
3   St14    Hanuma    2   18   9.5      D2       Mech        Goa  Chadra
9   St20  Bharatha    1   22   9.5      D2       Mech        Goa  Chadra
5   St16      Sita    3   22   8.5      D4  AI and ML      Delhi   Surya
6   St17     Radha    3   19   8.3      D4  AI and ML      Delhi   Surya
7   St18   Rukmini    2   17   8.1      D4  AI and ML      Delhi   Surya

Result of Outer join:
    Std_id      name  sem   age  CGPA Dept_id      Dname       Dloc   D_Hod
0.0   St11      Rama  1.0  19.0   7.5      D1        CSE  Bangalore   Indra
1.0   St12   Krishna  1.0  20.0   8.9      D1        CSE  Bangalore   Indra
8.0    S19   Lakshmi  1.0  19.0   9.2      D1        CSE  Bangalore   Indra
2.0   St13  Balarama  2.0  21.0   9.9      D2       Mech        Goa  Chadra
3.0   St14    Hanuma  2.0  18.0   9.5      D2       Mech        Goa  Chadra
9.0   St20  Bharatha  1.0  22.0   9.5      D2       Mech        Goa  Chadra
4.0   St15      Jaya  3.0  20.0   8.3      D3        NaN        NaN     NaN
5.0   St16      Sita  3.0  22.0   8.5      D4  AI and ML      Delhi   Surya
6.0   St17     Radha  3.0  19.0   8.3      D4  AI and ML      Delhi   Surya
7.0   St18   Rukmini  2.0  17.0   8.1      D4  AI and ML      Delhi   Surya
NaN    NaN       NaN  NaN   NaN   NaN      D5        ECE  Bangalore  Mourya
NaN    NaN       NaN  NaN   NaN   NaN      D6      Civil    Mathura  Harsha

In [17]:
merge_df = Student_df.merge(dept_df, on='Dept_id')

# Print the merged DataFrame
print("Merged DataFrame is:")
print(merge_df)

Merged DataFrame is:
  Std_id      name  sem  age  CGPA Dept_id      Dname       Dloc   D_Hod
0   St11      Rama    1   19   7.5      D1        CSE  Bangalore   Indra
1   St12   Krishna    1   20   8.9      D1        CSE  Bangalore   Indra
2    S19   Lakshmi    1   19   9.2      D1        CSE  Bangalore   Indra
3   St13  Balarama    2   21   9.9      D2       Mech        Goa  Chadra
4   St14    Hanuma    2   18   9.5      D2       Mech        Goa  Chadra
5   St20  Bharatha    1   22   9.5      D2       Mech        Goa  Chadra
6   St16      Sita    3   22   8.5      D4  AI and ML      Delhi   Surya
7   St17     Radha    3   19   8.3      D4  AI and ML      Delhi   Surya
8   St18   Rukmini    2   17   8.1      D4  AI and ML      Delhi   Surya

In [20]:
cse_stds = merge_df[merge_df['Dname'] == 'CSE']

print("CSE Department Student Details:")
print(cse_stds)

CSE Department Student Details:
  Std_id     name  sem  age  CGPA Dept_id Dname       Dloc  D_Hod
0   St11     Rama    1   19   7.5      D1   CSE  Bangalore  Indra
1   St12  Krishna    1   20   8.9      D1   CSE  Bangalore  Indra
2    S19  Lakshmi    1   19   9.2      D1   CSE  Bangalore  Indra

In [23]:
r_names = merge_df[merge_df['name'].str.startswith('R')]

print("Students Whose Names Begin with 'R':")
print(r_names)

Students Whose Names Begin with 'R':
  Std_id     name  sem  age  CGPA Dept_id      Dname       Dloc  D_Hod
0   St11     Rama    1   19   7.5      D1        CSE  Bangalore  Indra
7   St17    Radha    3   19   8.3      D4  AI and ML      Delhi  Surya
8   St18  Rukmini    2   17   8.1      D4  AI and ML      Delhi  Surya

In [25]:
cgpa = merge_df[merge_df['CGPA']> 9.0]
print(cgpa)

  Std_id      name  sem  age  CGPA Dept_id Dname       Dloc   D_Hod
2    S19   Lakshmi    1   19   9.2      D1   CSE  Bangalore   Indra
3   St13  Balarama    2   21   9.9      D2  Mech        Goa  Chadra
4   St14    Hanuma    2   18   9.5      D2  Mech        Goa  Chadra
5   St20  Bharatha    1   22   9.5      D2  Mech        Goa  Chadra

In [29]:
merge_df.rename(columns={'Dname': 'dept_name'})

print("DataFrame with Renamed Column:")
print(merge_df)

DataFrame with Renamed Column:
  Std_id      name  sem  age  CGPA Dept_id  dept_name       Dloc   D_Hod
0   St11      Rama    1   19   7.5      D1        CSE  Bangalore   Indra
1   St12   Krishna    1   20   8.9      D1        CSE  Bangalore   Indra
2    S19   Lakshmi    1   19   9.2      D1        CSE  Bangalore   Indra
3   St13  Balarama    2   21   9.9      D2       Mech        Goa  Chadra
4   St14    Hanuma    2   18   9.5      D2       Mech        Goa  Chadra
5   St20  Bharatha    1   22   9.5      D2       Mech        Goa  Chadra
6   St16      Sita    3   22   8.5      D4  AI and ML      Delhi   Surya
7   St17     Radha    3   19   8.3      D4  AI and ML      Delhi   Surya
8   St18   Rukmini    2   17   8.1      D4  AI and ML      Delhi   Surya

In [30]:

cgpa_ag = merge_df.groupby('dept_name')['CGPA'].agg(['max', 'min'])

print("Highest and Lowest CGPA in Each Department:")
print(cgpa_ag)

Highest and Lowest CGPA in Each Department:
           max  min
dept_name
AI and ML  8.5  8.1
CSE        9.2  7.5
Mech       9.9  9.5

In [34]:
reshaped_dept = dept_df.pivot(index='Dname', columns='Dloc', values='D_Hod')

print("Reshaped Dept Table:")
print(reshaped_dept)

Reshaped Dept Table:
Dloc      Bangalore  Delhi     Goa Mathura
Dname
AI and ML       NaN  Surya     NaN     NaN
CSE           Indra    NaN     NaN     NaN
Civil           NaN    NaN     NaN  Harsha
ECE          Mourya    NaN     NaN     NaN
Mech            NaN    NaN  Chadra     NaN